
/* This section takes care of the padding that browsers add automatically */

* {
    box-sizing: border-box;
    margin: 0;
}

/* some global styling for the links and buttons. Use #button to use this styling */

a {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: white;
    text-decoration: none;
}

.button {
    padding: 10px 20px 10px 20px;
    background-color: #76886e;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    transition: background-color 0.5s ease;
}

.button:hover {
    background-color: #9fab9a;
}

/* The next section is for my experimental nav. The one with the dropdown */


/* Style the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Style the button */
  .dropbtn {
    background-color: white;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 0px 0px 5px 30px;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown links when hovering */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
/* The nav starts here */

#topnav {
    width: 100%;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}

#nav-contents {
    min-width: 980px;
    margin: auto;
}

#sitename {
    display: inline;
}

#sitename img {
    height: 36px;
    margin-top: 10px;
    margin-left: 20px;
}

#hamburger {
    display: inline;
    margin-left: 30px;
}

#schedulebutton {
    padding: 13px 0px 13px 0px;
    color: grey;
    float: right;
    width: 245px;
    height: 45px;
    text-align: center;
    border: solid tan 1px;
    margin-right: 20px;
    font-family: Madefor,"Helvetica Neue",Helvetica,Arial,"メイリオ","meiryo","ヒラギノ角ゴ pro w3","hiragino kaku gothic pro",sans-serif;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
    text-decoration: none;
}

#schedulebutton:hover {
    background-color: #9fab9a;
    color: white;
    text-decoration: none;
    border: none;
}

/* The main page starts here */

#hero {
    width: 100%;
    height: 878px;
    background-image: url("https://static.wixstatic.com/media/e49c6e_4cb8b110fa4b4007afb67cc68578dabb~mv2.jpg/v1/fill/w_1576,h_867,al_c,q_85,enc_auto/e49c6e_4cb8b110fa4b4007afb67cc68578dabb~mv2.jpg");
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 400px;   
}

.hero-text{
    width: 450px;
    margin: auto;
    color: rgb(96,96,96);
    font-size: 62px;
    font-weight: 1;
    font-family: Madefor,"Helvetica Neue",Helvetica,Arial,"メイリオ","meiryo","ヒラギノ角ゴ pro w3","hiragino kaku gothic pro",sans-serif;
}

.hero h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -50px;
    z-index: 1;
}

#kerrylyn {
    display: flex;
    justify-content: center;
    padding: 100px 0px 100px 0px;
}

#biocontainer {
    border-bottom: solid 1px black;
    padding-bottom: 40px;
    max-width: 1000px;
    display: flex;
}

#verticalline {
    height: 30px;
    border-left: solid 1px black;
}

#biotext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 40px
}

#help {
    display: flex;
    background-color: #dcded9;
    padding: 70px;
    justify-content: center;
    align-items: center;
}

#innerhelpsection {
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
}

#borderline {
    border-bottom: solid 1px black;
    width: 100px;
    height: 60px;
}

#outerquestion {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#question {
    width: 100%;
    font-size: large;
    text-align: center;
}

#cta {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

#buttons {
    display: flex;
    padding: 20px 0px 20px 0px;
}

#buttons button {
    padding: 12px 30px 12px 30px;
    background-color: #76886e;
    border: none;
    margin: 10px;
    color: white;
    font-weight: 300;
}

#buttons button:hover {
    background-color: #9fab9a;
}

#biotext {
    margin: 50px;
}

#whitespace {
    height: 60px;
}

#hearmore {
    background-image: url(papers.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#middlehearmore {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
}

#innerhearmore {
    padding: 150px 40px 150px 40px;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
}

#innerhearmore h2 {
    padding: 20px;
}

#innerhearmore h3 {
    padding: 20px;
}

#innerhearmore button {
    padding: 10px;
    color: white;
    background-color: #76886e;
    border: none;
}

#innerhearmore button:hover {
    background-color: #9fab9a;
}


/*  This is where the footer starts*/

#lightfooter {
    padding: 50px;
    background-color: #a0b6ba;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contactinfo {
    padding: 20px 100px 20px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-left: solid 1px white;
}

#connect {
    padding: 0px 100px 0px 100px;
}

#darkfooter {
    padding: 20px;
    background-color: #4d858c;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
